APP_NAME="Service C - Keanggotaan & Voucher"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smart_parking
DB_USERNAME=root
DB_PASSWORD=secret

SESSION_DRIVER=file
CACHE_STORE=file

IAE_API_KEYS=102022400023,102022400039,102022400126

L5_SWAGGER_GENERATE_ALWAYS=true

# RabbitMQ (used to publish events to exchange 'iae.central.exchange')
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_EXCHANGE=iae.central.exchange
